*{
    margin:0;
    padding:0;
}

/*Encabezado de inicio + boton de Mi cuenta Tuyú*/

.contenedor{
    background-color: rgb(6, 3, 43);
    font-family: 'Sora', sans-serif;
    margin-left: 20px;
}

menu{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    height: 65px;
    text-align: center;
}

.menu ul {
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: aliceblue;
}

#btn-cuenta-tuyu{
    width: 135px;
    height: 35px;
    background-color: aliceblue;
    color: rgb(6, 3, 43);
    font-family: 'Sora', sans-serif;
    font-size: medium;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/*Parte central*/

.texto{
    font-family: 'Sora', sans-serif;
    text-align: center;
    padding-top: 9%;
}

.menu-central{
    display: flex;
    padding-top: 4%;
    padding-bottom: 7%;
    padding-left: 80px;
}

.parte-central-internet img{
    width: 380px;
    height: 200px;
    margin-left: 20px;
    border-radius: 20px; 
}

.parte-central-internet h1{
    font-family: 'Sora', sans-serif;
    text-align: center;
}

.parte-central-celu img{
    width: 380px;
    height: 200px;
    margin-left: 20px;
    border-radius: 20px;
}

.parte-central-celu h1{
    font-family: 'Sora', sans-serif;
    text-align: center;
}

.parte-central-tele img{
    width: 380px;
    height: 200px;
    margin-left: 20px;
    border-radius: 20px;
}

.parte-central-tele h1{
    font-family: 'Sora', sans-serif;
    text-align: center;
}

/*Banner de Whatsapp*/

.banner-whatsapp{
    grid-template-columns: repeat(3,1f);
}

.banner-whatsapp{
    font-family: 'Sora', sans-serif;
    padding-left: 40px;
    color: aliceblue;
    background-image: url(./Imagenes/Fondo\ Whatsapp.jpg);
    background-position-y: center;
    flex-direction: column;
    max-width: 85%;
    margin-left: 7.4%;
    border-radius: 20px;
}

.banner-whatsapp img{
    width: 60px;
    height: 60px;
}

.banner-whatsapp p{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

/*Pie de página*/

.pie-de-pagina{
    display: flex;
    background-color: rgb(6, 3, 43);
    padding-bottom: 2%;
    color: beige;
    text-align: center;
}

.direccion p{
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    font-weight: 400;
    color: beige;

}
.logo-final img{
    width: 140px;
    height: 90px;
    margin-left: 30% 30% 30% 30%;
}

.redes-sociales{
    font-family: 'Sora', sans-serif;
    padding-left: 38%;
}

#Facebook{
    width: 40px;
    height: 40px;
    padding: 10px 10px 10px 10px;
}

#Instagram{
    width: 40px;
    height: 40px;
    padding: 10px 10px 10px 10px;
}
#Linkedin{
    width: 40px;
    height: 40px;
    padding: 10px 10px 10px 10px;
}

#Twitter{
    width: 40px;
    height: 40px;
    padding: 10px 10px 10px 10px;
}

#Youtube{
    width: 58px;
    height: 40px;
    padding: 10px 10px 10px 10px;
}

.redes-sociales p{
    font-family: 'Sora', sans-serif;
    color: beige;
    margin-left: 10px;
}

/*Texto del autor*/

.texto-autor{
    background-color: rgb(6, 3, 43);
    font-size: 14px;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
}

/*Web Responsive - Desktop*/

@media screen and (max-width: 815px){
    .encabezado img{
        margin-left: 50%;
    }
}