body{
    margin:0;
    padding:0;
}

/*Pie de página*/

.pie-de-pagina{
    display: flex;
    background-color: rgb(6, 3, 43);
    padding-bottom: 2%;
}

.texto-encabezado-final p{
    font-family: 'Sora', sans-serif;
    font-size: medium;
    font-weight: 400;
    color: beige;

}
.logo-encabezado-final img{
    width: 140px;
    height: 140px;
    padding: 40px;
}

.redes-sociales-encabezado-final img{
    width: 40px;
    height: 40px;
    padding: 8px 8px 8px 8px;
}

.redes-sociales-encabezado-final p{
    font-family: 'Sora', sans-serif;
    color: beige;
    margin-left: 10px;
}

/*Parte central*/

.texto{
    font-family: 'Sora', sans-serif;
    text-align: center;
    padding-top: 9%;
}

.menu-central{
    display: flex;
    padding-top: 4%;
    padding-bottom: 7%;
    padding-left: 80px;
}

.parte-central-internet img{
    width: 380px;
    height: 200px;
    margin-left: 20px;
    border-radius: 20px; 
}

.parte-central-internet h1{
    font-family: 'Sora', sans-serif;
    text-align: center;
}

.parte-central-celu img{
    width: 380px;
    height: 200px;
    margin-left: 20px;
    border-radius: 20px;
}

.parte-central-celu h1{
    font-family: 'Sora', sans-serif;
    text-align: center;
}

.parte-central-tele img{
    width: 380px;
    height: 200px;
    margin-left: 20px;
    border-radius: 20px;
}

.parte-central-tele h1{
    font-family: 'Sora', sans-serif;
    text-align: center;
}

/*Encabezado de inicio + boton de Iniciar sesión*/

#btn-iniciar-sesion{
    width: 140px;
    height: 40px;
    background-color: rgb(6, 3, 43);
    color: azure;
    border: none;
    border-radius: 5px;
    font-family: 'Sora', sans-serif;
    font-size: larger;
    font-weight: 300;
    margin-left: 1200px;
    cursor: pointer;
}

.inicio li{
    display: flex;
    font-family: 'Sora', sans-serif;
}

.encabezado img{
    width: 80px;
    height: 80px;
    margin-left: 50%;
}
.encabezado{
    background-color: rgb(6, 3, 43);
    position: fixed;
}

/*Web Responsive - Desktop*/

@media screen and (max-width: 815px){
    .encabezado img{
        margin-left: 50%;
    }
}