body{
    margin:0;
    padding:0;
}

/*Formulario para iniciar sesión y botón entrar*/

.formulario{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

#usuario{
    width: 250px;
    height: 25px;
    font-family: 'Work Sans', sans-serif;
}

#contraseña{
    width: 250px;
    height: 25px;
    font-family: 'Work Sans', sans-serif;
}

#btn-entrar{
    width: 100px;
    height: 30px;
    background-color: rgb(11, 87, 58);
    color: azure;
    border: none;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}

/*Encabezado de inicio*/

.logo-sesion img{
    width: 105px;
    height: 40px;
    margin-left: 50%;
    margin-top: 1%;
}
.logo-sesion{
    background-color: rgb(49, 49, 49);
    padding-left: 40%;
    padding-right: 45%;
}