body{
    margin:0;
    padding:0;
}

/*Formulario para iniciar sesión y botón entrar*/

.formulario{
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
}

#usuario{
    width: 250px;
    height: 25px;
    font-family: 'Sora', sans-serif;
}

#contraseña{
    width: 250px;
    height: 25px;
    font-family: 'Sora', sans-serif;
}

#btn-entrar{
    width: 135px;
    height: 35px;
    background-color: rgb(6, 3, 43);
    color: aliceblue;
    font-family: 'Sora', sans-serif;
    font-size: medium;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/*Encabezado de inicio*/

.logo-sesion img{
    width: 100px;
    height: 65px;
    margin-left: 50%;
    margin-top: 1%;
}
.logo-sesion{
    background-color:rgb(6, 3, 43);
    padding-left: 40%;
    padding-right: 45%;
}